/tests              export-ignore
.git*               export-ignore
/phpstan.neon       export-ignore
/phpcs.xml          export-ignore
/RELEASE_NOTES      export-ignore
.editorconfig       export-ignore
/phpunit.xml.dist   export-ignore
/.docker            export-ignore
/docker-compose.yml export-ignore

*.php               text eol=lf
