includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: 7
    paths:
        - src
        - tests
    bootstrapFiles:
        - ./src/InvalidArgumentException.php
        - ./src/InvalidStateException.php
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Dynamic call to static method PHPUnit\\Framework\\Assert::assert[a-zA-Z]+\(\)#'
        - '#Fetching deprecated class constant GET of interface Nette\\Http\\IRequest#'
        -
            identifier: method.childParameterType
