parameters:
    level: 7
    paths:
        - src
        - tests
    bootstrapFiles:
        - ./src/InvalidArgumentException.php
        - ./src/InvalidStateException.php
    treatPhpDocTypesAsCertain: false
